body {
  margin: 0;
  padding: 0;
}
@media screen and (max-width:768px){
  body{
      overflow-x: hidden;
  }
  .section{
      width: 300px;
  }
  .card-styles{
      width:100%;
  }
  .section{
      position: static;
      margin-top: 100px;
      padding: 0px;
  } 
  /* .section2{
     margin-top: 0px;
     position: static;
  } */
  .text-center{
      text-align: left;
  }
  .card-styles{
      margin:0px !important;
  }
  .description{
      margin-top: 10px;
  }
  
}


